@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  background-color: #f1eeee;
  font-family: "Inter";
}

.Edit,
.btn .Check {
  cursor: pointer;
}

.btn {
  padding: 18px 137px;
  background-color: #0d99ff;
  color: white;
  border-radius: 90px;
  border: none;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background-color: #ecb5b1;
  color: black;
}

button.btn > span {
  margin-left: 10px;
}
